@charset "utf-8";
/* CSS Document */

	.desktop{
    display:none;
	}
	.mobile{
    display:block;
	}
	
@media screen and (max-width: 768px) {
	
	.desktop{
  	display:block;
	}
	.mobile{
 	display:none;
	}
	
	.mobcon {
	width: 100%;
	max-width: 768px;
	min-width: 480px;
	margin: 0 auto;
}
	.mobhead {
	background-color: black;
	text-align:center;
	font-size:36px;
	}
	.mobnav {
	clear: both;
	float:left;
	margin-left: 0;
	width: 100%;
	display: block;	
	}
	.nav ul {
	margin: 0;
	padding: 0;
	}
	.nav li {
	margin: 0 5px 5px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display:inline; /* ie7 */
	}
	
}