@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,600,700);

.wrapper {
	margin: 0 auto;
	table-layout: fixed;
	width: 900px;
    background-color: white;
    text-align: center;
}

.col-xs-12{
	background-color: white;

}
.col-lg-12 {
	background-color: white;
}

.col-md-12 {
	background-color: white;
}
.col-sm-12 {
	background-color: white;	
}


body {
	width: 100%;
	height: 100%;
	border: 0;
    background-color: #D0D0D0;
	margin: 0;
    color: #222;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
	 /* overflow: hidden;  disable scrollbars */
	display: block; /* No floating content on the sides  */


}

#mainNavbar {

	background-color: #DCDCDC;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	overflow: hidden;
	margin-top: 0px;
	width: auto\9;

	height: 23px;


}

#mainNavbar div.social-media-icons ul.navright li {
	display: inline-block;
	list-style-type: none;
	margin: 0 0px 0px 20px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s; 
	position: relative;
	top: -15px;

}



#mainNavbar div.social-media-icons ul.navright li a img{
	width: 29px;
	height: 29px;
	padding-top: 0 !important; 
    padding-bottom: 0px;
    min-height: 10px;

}
div.col-sm-6 {
	background-color: white;
}


.social-media-icons {

	position: relative;
	/* adjust the location of images*/ 
	left: 250px;
	top: 12px;	
}

#logogrid {
	background-color: black;
	height: 110px;
	width: 100%;
	position: relative;

}


/*adjust the title of "10X Soccer Performance" */
#title { 
	color: white;
	font-family: Arial;
	font-size: 40px;
	font-weight: 590;
	position: relative;
	top: 25px;
	left: 220px;
	background-size: 100%;
	width: 70%;

}
span.10X { 

	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	height: :50%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

span.soccer{
	color: rgb(0,200,255);
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

#logopic {
	width: 100px;
	height: 100px;
	position: relative;
	top: -54px;
	right: 330px;

}

/*tabs */
.navbar-default {
	
	background-color: #4CBCFF;
}

.navbar-default .navbar-collapse .nav > li > a{
	color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-brand {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-brand:hover {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Open Sans', sans-serif;
	background-color: black;
}

.navbar-default .navbar-collapse .nav > li > a {
	background-color: #4CBCFF;
}

.navbar-default .navbar-collapse .nav > li > a:hover {

	background-color: black;
}

#map {
        width: 500px;
        height: 400px;
        background-color: #CCC;
}

#subscribelogos {
	background-color: white;
	overflow: hidden;
	margin-top: 0px;
	width: auto\9;
	height: 50px;


}
#subscribelogos div.socialLogos ul.navright li {
	display: inline-block;
	list-style-type: none;
	margin: 0 0px 0px 10px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s; 
	position: center;


}


#subscribelogos div.socialLogos ul.navright li a img{
	width: 40px;
	height: 40px;
	padding-top: 0 !important; 
    padding-bottom:0px;
    min-height: 10px;

}


div.footer {
    color: black;
    width: 100%;
    background-color: #DCDCDC;
}

#owl-demo .item img{
	display: block;
    width: 900px !important;
	height: 500px !important;

}

.owl-controls{
	position: relative;
	right: 40px;
}
